{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": ["react", "svelte3"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "overrides": [
    {
      "files": ["*.svelte"],
      "processor": "svelte3/svelte3"
    }
  ],
  "rules": {
    "quotes": ["error", "single"],
    "no-unused-vars": ["error"],
    "react/prop-types": "off",
    "jsx-quotes": ["error", "prefer-single"],
    "no-fallthrough": "off"
  }
}
