.SAN-tabs {
  width: 100%;
  border-bottom: 1px solid var(--porcelain);
  display: flex;
}

.SAN-tab {
  position: relative;
  color: var(--waterloo);
  padding: 0 0 16px;
  border: 0;
  cursor: pointer;
  margin-right: 32px;

  &:hover {
    color: var(--jungle-green);
  }

  &.active {
    color: var(--jungle-green);

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -1px;
      height: 2px;
      left: 0;
      right: 0;
      border-radius: 1px;
      background: var(--jungle-green);
    }
  }
}
