-
  const accents = {
    'jungle-green': 'SAN-accent_green',
    'dodger-blue': 'SAN-accent_blue',
    'texas-rose': 'SAN-accent_orange',
  }

  const variants = {
    fill: 'SAN-btn_fill',
    ghost: 'SAN-btn_ghost',
    flat: 'SAN-btn_flat',
  }

mixin button()
  -
    const {
      href,
      variant,
      accent,
      border,
      fluid,
      naked,
    } = attributes;

    const classes = cx('SAN-btn', border && 'SAN-btn_bordered', fluid && 'SAN_fluid', naked && 'SAN-btn_naked', accent && accents[accent], variant && variants[variant])

    const attrs = omit(
      ["accent", "border", "fluid", "variant", "naked"],
      attributes
    );

    const tag = href ? 'a' : 'button'

  #{tag}(class=classes)&attributes(attrs)
    block
