.input {
  display: none;
}

.button {
  display: flex;
}

.label {
  background: var(--white);
  fill: var(--black);
  cursor: pointer;
  display: flex;
  height: 17px;
  margin-bottom: 8px;

  &:hover {
    fill: var(--green);
  }
}

.src {
  margin-left: 8px;
  margin-top: -7px;
  font-size: 14px;
}
