mixin panel()
  -
    const variants = {
      box: 'SAN-panel_box',
      context: 'SAN-panel_context',
      'tooltip-small': 'SAN-panel_tooltip-small',
      'tooltip-big': 'SAN-panel_tooltip-big',
    }

    const {
      variant,
      fluid,
      href,
    } = attributes;
    const classes = cx('SAN-panel',  variant && variants[variant])

    const attrs = omit(
      ["variant"],
      attributes
    );

    const tag = href ? 'a' : 'div'

  #{tag}(class=classes)&attributes(attrs)
    block
