mixin dialogActions()
  -
    const {
      noPadding,
    } = attributes;

    const classes = cx('SAN-dialog__actions', noPadding && 'SAN-dialog__actions_np')
  div(class=classes)&attributes(attributes)
    block

mixin dialogScrollContent()
  .SAN-dialog__content&attributes(attributes)
    block
