.SAN-dialog {
  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px 20px;

    &_np {
      padding: 0;
    }

    *:last-child {
      margin-left: 16px;
    }
  }

  &__content {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 12px 20px 0;
    margin-bottom: 12px;
  }
}
