@import '~@santiment-network/ui/mixins';
@import '../../variables';

.wrapper {
  padding: 0 16px;
  margin-bottom: 24px;

  @include responsive('laptop', 'desktop') {
    position: relative;
    padding: 0 0 80px;
    margin-bottom: 0;
  }
}

.insightWrapper {
  max-width: 720px;
  margin: 0 auto;
}

.title {
  font-weight: 800;
  line-height: 44px;
  font-size: 38px;
  color: var(--mirage);
  background: var(--white) !important;
  display: block;
  width: 100%;
  border: 0;
  resize: none;
  outline: none;
  padding: 0;
  margin-bottom: 14px;

  &::placeholder {
    color: var(--casper);
  }

  @include responsive('phone-xs') {
    line-height: 42px;
    font-size: 32px;
  }
}

.container {
  max-width: $desktop-container-width;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
  height: 100%;

  @include responsive('desktop', 'laptop') {
    padding: 15px 0;
  }
}

.bottom {
  position: fixed;
  z-index: 0;
  left: 63%;
  right: 0;
  bottom: 50px;
  white-space: nowrap;
  background: var(--white);

  @include responsive('desktop', 'laptop') {
    background: linear-gradient(270deg, var(--white) 83%, transparent 100%);
    right: calc(50% - 570px);
  }

  @include responsive('laptop', 'desktop', 'tablet') {
    bottom: 0;
  }
}

.save {
  color: var(--casper);
  margin-right: 10px;

  @include responsive('phone-xs') {
    display: none;
  }
}

.icon {
  margin-left: 10px;
}
