@import './webkit/styles/main.css';

:root {
  --accent: var(--green);
  --accent-hover: var(--green-hover);
  --accent-light-3: var(--green-light-3);
}

#sapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  margin: 0 auto;
  max-width: 1140px;
}

.btn-rounded {
  height: 32px;
  border-radius: 20px;
  padding: 3px 13px;
  white-space: nowrap;
  --fill: var(--waterloo);
  --fill-hover: var(--green);
}
