@import './webkit/styles/main.css';
@import './ui/index.scss';

:root {
  --lima: #26c953;
  --lima-hover: #1bad44;
  --accent: var(--green);
  --accent-hover: var(--green-hover);
  --accent-light-3: var(--green-light-3);
}
