@import '../node_modules/@santiment-network/ui/main.scss';

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  fill: inherit;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var(--rhino);
  fill: var(--rhino);
  overflow-x: hidden;
}

svg {
  box-sizing: initial;
  vertical-align: middle;
}

a:hover {
  color: var(--jungle-green);
}

@import './ui/index.scss';
