@import '../node_modules/@santiment-network/ui/main.scss';
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  fill: inherit;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var(--mirage);
  fill: var(--mirage);
}

svg {
  box-sizing: initial;
  vertical-align: middle;
}

a:hover {
  color: var(--jungle-green);
}

@import './ui/index.scss';
